<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prj_peach.practicalparent">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".DeepBreathActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ChildActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".HelpScreenActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TaskActivity"
            android:parentActivityName=".TaskListActivity" />
        <activity
            android:name=".NewTaskActivity"
            android:parentActivityName=".TaskListActivity" />
        <activity
            android:name=".TaskListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FlipHistoryActivity"
            android:parentActivityName=".tossCoinActivity" />
        <activity
            android:name=".AddNewChildActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tossCoinActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlarmActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".model.TimerService" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>